h1 {
    text-align: center;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.big {
    font-size: xx-large;
}

.tiny {
    font-size: xx-small;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.fontChange {
    font-family: Arial;
}

.styledFont {
    color: green;
    font-family: Arial;
}

#styledImage {
    border-width: 5px;
    border-style: outset;
    border-color: rebeccapurple;
}

